body{
    background:#fff;
    color:#222;
    margin:20px 20px 20px 20px;
    padding:0;
}

#gjs-loader {
    width: 1024px;
    height: 1px;
    background: url('../data/loading.png');
}

#gjs-canvas {
    width: 1024px;
    height: 768px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
